In [1]:
import pandas as pd

In [2]:
dataset_name = "NIKL_NEWSPAPER_2023_CSV"
fname = "NEWSPAPER_2022_1"
sample_name = "sample1"

In [3]:
dataset_dir = f"../dataset/{dataset_name}-{fname}-{sample_name}.parquet"
df = pd.read_parquet(dataset_dir)

In [4]:
df.head()

,file_id,doc_id,title,author,publisher,date,topic,original_topic,sentence_ids,text,entities
0,NIRW2300000001,NIRW2300000001.52999,노컷뉴스 2022년 기사,최범규 충북CBS 최범규 기자,노컷뉴스,20221122,사회,"지역>울산, 지역>대전, 지역>부산","[""NIRW2300000001.52999.1"", ""NIRW2300000001.529...","맨몸으로 불난 집 뛰어들어 노인 구한 ‘슈퍼맨’, 정체 보니… 우체국 집배원이 맨몸...","[{'end': 25, 'label': 'PS', 'start': 22}, {'en..."
1,NIRW2300000001,NIRW2300000001.23451,노컷뉴스 2022년 기사,경남CBS 송봉준 기자 송봉준,노컷뉴스,20220520,사회,"사회>사회일반, 문화>문화일반","[""NIRW2300000001.23451.1"", ""NIRW2300000001.234...","경남 거제 선자산 추락헬기 정비사, 새 생명 주고 ‘영면’ 경남 거제 선자산에서 발...","[{'end': 9, 'label': 'LC', 'start': 0}, {'end'..."
2,NIRW2300000001,NIRW2300000001.59045,노컷뉴스 2022년 기사,베이징=CBS노컷뉴스 안성용 특파원 안성용,노컷뉴스,20221229,사회,"국제>중국, 사회>사회일반, 국제>아시아","[""NIRW2300000001.59045.1"", ""NIRW2300000001.590...",중 화장장 포화에…“공터에서 시신 불태우겠다” 중국 대도시에서 코로나19 감염이 확...,"[{'end': 54, 'label': 'LC', 'start': 51}, {'en..."
3,NIRW2300000001,NIRW2300000001.43319,노컷뉴스 2022년 기사,고상현 제주CBS 고상현 기자,노컷뉴스,20220925,사회,"지역>대구, 지역>제주, 지역>부산","[""NIRW2300000001.43319.1"", ""NIRW2300000001.433...",곽도원 음주운전 적발 제주에서 영화배우 곽도원(49·본명 곽병규)이 음주운전을 하다...,"[{'end': 3, 'label': 'PS', 'start': 0}, {'end'..."
4,NIRW2300000001,NIRW2300000001.48926,노컷뉴스 2022년 기사,김화영 대전CBS 김화영 기자,노컷뉴스,20221028,사회,"지역>대전, 지역>경남, 지역>대구","[""NIRW2300000001.48926.1"", ""NIRW2300000001.489...","한국특허전략개발원, 28일 현판식 갖고 대전시대 개막 한국특허전략개발원이 28일 중...","[{'end': 9, 'label': 'OG', 'start': 0}, {'end'..."