In [1]:
import json
import os
import matplotlib.pyplot as plt
import pandas as pd
from tqdm import tqdm

In [2]:
root_dir = os.path.dirname(os.path.dirname(os.getcwd()))
print(root_dir)

/Users/yrmbair/git/nlp_building_blocks/projects/2025_11_ko_ner/2-open_ko_data

In [3]:
source_dir = os.path.join(root_dir, f"data/source/modu")
print(os.listdir(source_dir))

result_dir = os.path.join(root_dir, f"data/processed/modu")

['2022', '.DS_Store', '2019', '2021', '2020']

# modu-2020

In [4]:
def process_entity(e):
    label = e['label'][:2]
    
    return {
        'begin': e['begin'],
        'end': e['end'],
        'label': label,
        'detail': e['label']
    }

In [5]:
data20_dir = os.path.join(source_dir, "2020/20_150tags_NamedEntity/EXNE2102209160")
fnames = [x for x in os.listdir(data20_dir) if "json" in x]
print(len(fnames))

50

In [6]:
data = {
    'id': [], # documentId
    'source': [], # source (for tracking)
    'text': [], # sentences List[str]
    'entities': []
}

for fname in tqdm(fnames):
    # 'utf-8-sig': Unexpected UTF-8 BOM (decode using utf-8-sig): line 1 column 1 (char 0)
    # BOM: Byte Order Mark (BOM)
    with open(os.path.join(data20_dir, fname), "r", encoding='utf-8-sig') as f:
        sample = json.load(f)
        
    file_id = sample['id']
    
    for doc in sample['document']:
        document_id = doc['id']
        sentences = [x['form'] for x in doc['sentence']]
        entities = [
            [process_entity(e) for e in x['NE']]
            for x in doc['sentence']
        ]
        
        data['id'].append(document_id)
        data['source'].append(f'modu-20/{file_id}')
        data['text'].append(sentences)
        data['entities'].append(entities)

data_df = pd.DataFrame.from_dict(data)

100%|██████████| 50/50 [00:17<00:00,  2.82it/s]

In [7]:
doc

{'id': 'ESRW1907002792.222',
 'metadata': {'title': 'NA',
  'author': '유자',
  'publisher': 'twitter',
  'date': '20190804',
  'crawl_date': '20190810 00:06:30',
  'url': 'https://twitter.com/SITR_5621/status/1157812901974908928'},
 'sentence': [{'id': 'ESRW1907002792.222.1.1',
   'form': '귀연놈들',
   'word': [{'id': 1, 'form': '귀연놈들', 'begin': 0, 'end': 4}],
   'NE': []}]}

In [8]:
data_df.head()

,id,source,text,entities
0,ESRW1907001928.23,modu-20/EXNE2105170039,[완전 에어컨 바람일세],"[[{'begin': 3, 'end': 6, 'label': 'TM', 'detai..."
1,ESRW1907001928.24,modu-20/EXNE2105170039,[더워서 창문 열음],[[]]
2,ESRW1907001928.50,modu-20/EXNE2105170039,[뭐 어떻게든 끊겠지],[[]]
3,ESRW1907001928.87,modu-20/EXNE2105170039,[별로 안 신나더라],[[]]
4,ESRW1907001928.125,modu-20/EXNE2105170039,"[애드 아스트라, 재밌어]","[[{'begin': 0, 'end': 7, 'label': 'AF', 'detai..."

In [9]:
data_df.iloc[0]['text']

['완전 에어컨 바람일세']

In [10]:
data_df.to_parquet(os.path.join(result_dir, 'modu-20-web.parquet'))

# modu-2021

## 19_150tags_NamedEntity

### news

In [11]:
def process_entity(e):
    label = e['label'][:2]
    
    return {
        'begin': e['begin'],
        'end': e['end'],
        'label': label,
        'detail': e['label']
    }
    
    
fname = "2021/19_150tags_NamedEntity/NXNE2102008030.json"
data = {
    'id': [], # documentId
    'source': [], # source (for tracking)
    'text': [], # sentences List[str]
    'entities': []
}

with open(os.path.join(source_dir, fname), 'r', encoding='utf-8-sig') as f:
    sample = json.load(f)

file_id = sample['id']

for doc in sample['document']:
    document_id = doc['id']
    sentences = [x['form'] for x in doc['sentence']]
    entities = [
        [process_entity(e) for e in x['NE']]
        for x in doc['sentence']
    ]
    
    data['id'].append(document_id)
    data['source'].append(f'modu-19/{file_id}')
    data['text'].append(sentences)
    data['entities'].append(entities)

data_df = pd.DataFrame.from_dict(data)

In [12]:
data_df.head()

,id,source,text,entities
0,NWRW1800000029.315,modu-19/NXNE2102008030,"[[횡설수설/권순활]北 ‘외화벌이’ 뜯어먹기, 필리핀 국민의 약 10%인 800만 ...","[[{'begin': 6, 'end': 9, 'label': 'PS', 'detai..."
1,NWRW1800000029.270,modu-19/NXNE2102008030,"[연아 복귀무대 ‘반갑지 않은 손님’, 두번 오심 논란 로리올오버빌러 심판도 참가,...","[[{'begin': 0, 'end': 2, 'label': 'PS', 'detai..."
2,NWRW1800000024.445,modu-19/NXNE2102008030,"[민간건설사 토지 강제수용권에 제동, 아파트 건설 부지의 80% 이상을 확보한 민간...","[[{'begin': 9, 'end': 14, 'label': 'CV', 'deta..."
3,NWRW1800000024.447,modu-19/NXNE2102008030,"[찌뿌드드한 몸, 깨어나라, 건강에서 혈액 순환은 아주 중요한 요소다., 심장에서 ...","[[{'begin': 6, 'end': 7, 'label': 'AM', 'detai..."
4,NWRW1800000044.241,modu-19/NXNE2102008030,"[“의료민영화로 해석하는건 괴담” 복지장관, 부대사업 확대 옹호, [한겨레] 문형표...","[[{'begin': 18, 'end': 22, 'label': 'CV', 'det..."

In [13]:
data_df.to_parquet(os.path.join(result_dir, 'modu-19-news.parquet'))

### dialogue

In [14]:
def process_entity(e):
    label = e['label'][:2]
    
    return {
        'begin': e['begin'],
        'end': e['end'],
        'label': label,
        'detail': e['label']
    }
    
    
fname = "2021/19_150tags_NamedEntity/SXNE2102007240.json"
data = {
    'id': [], # documentId
    'source': [], # source (for tracking)
    'text': [], # sentences List[str]
    'entities': []
}

with open(os.path.join(source_dir, fname), 'r', encoding='utf-8-sig') as f:
    sample = json.load(f)

file_id = sample['id']

for doc in sample['document']:
    document_id = doc['id']
    sentences = [x['form'] for x in doc['sentence']]
    entities = [
        [process_entity(e) for e in x['NE']]
        for x in doc['sentence']
    ]
    
    data['id'].append(document_id)
    data['source'].append(f'modu-19/{file_id}')
    data['text'].append(sentences)
    data['entities'].append(entities)

data_df = pd.DataFrame.from_dict(data)

In [15]:
data_df.head()

,id,source,text,entities
0,SBRW1800000004,modu-19/SXNE2102007240,"[네 여러분 안녕하십니까. 엄길청입니다., 마냥 행복하고 사랑만 느끼고 싶은 계절 ...","[[{'begin': 14, 'end': 17, 'label': 'PS', 'det..."
1,SBRW1800000109,modu-19/SXNE2102007240,"[첫 번째 인터뷰 시간입니다., 어 저희가 대선 후보들 연쇄인터뷸 하고 있는데, 오...","[[{'begin': 0, 'end': 4, 'label': 'QT', 'detai..."
2,SBRW1800000328,modu-19/SXNE2102007240,[올해 나온 줄리아 하트 오집에 처형 직전의 도스토옙스키라는 제목의 노래가 있거든요...,"[[{'begin': 0, 'end': 2, 'label': 'DT', 'detai..."
3,SBRW1800000279,modu-19/SXNE2102007240,"[네 안녕하세요 최고의 요리 비결 박승우입니다., 새해가 시작된지 얼마 안 된 거 ...","[[{'begin': 8, 'end': 17, 'label': 'AF', 'deta..."
4,SBRW1800000273,modu-19/SXNE2102007240,"[네 안녕하세요, 최고의 요리 비결의 박수홍입니다, 이번 한 주, 매일 밥상부터, ...","[[], [{'begin': 0, 'end': 9, 'label': 'AF', 'd..."

In [16]:
data_df.to_parquet(os.path.join(result_dir, 'modu-19-dialogue.parquet'))

## 21_150tags_NamedEntity

### news

In [17]:
def process_entity(e):
    label = e['label'][:2]
    
    return {
        'begin': e['begin'],
        'end': e['end'],
        'label': label,
        'detail': e['label']
    }
    
    
fname = "2021/21_150tags_NamedEntity/NXNE2102203310/NXNE2102203310.json"
data = {
    'id': [], # documentId
    'source': [], # source (for tracking)
    'text': [], # sentences List[str]
    'entities': []
}

with open(os.path.join(source_dir, fname), 'r', encoding='utf-8-sig') as f:
    sample = json.load(f)
    
file_id = sample['id']
for doc in sample['document']:
    document_id = doc['id']
    sentences = [x['form'] for x in doc['sentence']]
    entities = [
        [process_entity(e) for e in x['NE']]
        for x in doc['sentence']
    ]
    
    data['id'].append(document_id)
    data['source'].append(f'modu-21/{file_id}')
    data['text'].append(sentences)
    data['entities'].append(entities)

data_df = pd.DataFrame.from_dict(data)

In [18]:
data_df.head()

,id,source,text,entities
0,NIRW2000000001.91,modu-21/NXNE2102203310,"[종합적인 해양수산정보 관리 기반 마련...121억 투입, 정부는 인공지능 및 빅데...","[[{'begin': 23, 'end': 27, 'label': 'QT', 'det..."
1,NIRW2000000001.102,modu-21/NXNE2102203310,"[인공지능 기술로 '재난상황 인명구조' 가능할까, 과학기술정보통신부는 복합재난 상황...","[[{'begin': 0, 'end': 7, 'label': 'TR', 'detai..."
2,NIRW2000000001.116,modu-21/NXNE2102203310,"[새해 첫날 KBS '뉴스9', 앵커도 타이틀 음악도 바뀌었다, KBS 메인뉴스 '...","[[{'begin': 0, 'end': 2, 'label': 'DT', 'detai..."
3,NIRW2000000001.145,modu-21/NXNE2102203310,"[자율주행차 시대 성큼?…속도조절 하는 업계, 지난해 12월 자율주행 기술에 있어 ...","[[{'begin': 0, 'end': 5, 'label': 'AF', 'detai..."
4,NIRW2000000001.164,modu-21/NXNE2102203310,"[신춘수 ""'팝시컬'은 뮤지컬 대중화의 고민 결과"", ""오페라의 대중화는 뮤지컬이었...","[[{'begin': 0, 'end': 3, 'label': 'PS', 'detai..."

In [19]:
data_df.to_parquet(os.path.join(result_dir, 'modu-21-news.parquet'))

### dialogue

In [23]:
def process_entity(e):
    label = e['label'][:2]
    
    return {
        'begin': e['begin'],
        'end': e['end'],
        'label': label,
        'detail': e['label']
    }
    
    
data_dir = os.path.join(source_dir, "2021/21_150tags_NamedEntity/SXNE2102203310")
fnames = [x for x in os.listdir(data20_dir) if "json" in x]
print(len(fnames))


data = {
    'id': [], # documentId
    'source': [], # source (for tracking)
    'text': [], # sentences List[str]
    'entities': []
}

for fname in tqdm(fnames):
    # 'utf-8-sig': Unexpected UTF-8 BOM (decode using utf-8-sig): line 1 column 1 (char 0)
    # BOM: Byte Order Mark (BOM)
    with open(os.path.join(data20_dir, fname), "r", encoding='utf-8-sig') as f:
        sample = json.load(f)
        
    file_id = sample['id']
    
    for doc in sample['document']:
        document_id = doc['id']
        sentences = []
        entities = []
        for sentence in doc['sentence']:
            text = sentence['form']
            if not text.strip():
                continue
            sentences.append(text)
            
            entities.append(
                [process_entity(e) for e in sentence['NE']]
            )

        if not sentences:
            continue
        
        data['id'].append(document_id)
        data['source'].append(f'modu-21/{file_id}')
        data['text'].append(sentences)
        data['entities'].append(entities)

data_df = pd.DataFrame.from_dict(data)

50

100%|██████████| 50/50 [00:18<00:00,  2.78it/s]

In [24]:
data_df.head()

,id,source,text,entities
0,ESRW1907001928.23,modu-21/EXNE2105170039,[완전 에어컨 바람일세],"[[{'begin': 3, 'end': 6, 'label': 'TM', 'detai..."
1,ESRW1907001928.24,modu-21/EXNE2105170039,[더워서 창문 열음],[[]]
2,ESRW1907001928.50,modu-21/EXNE2105170039,[뭐 어떻게든 끊겠지],[[]]
3,ESRW1907001928.87,modu-21/EXNE2105170039,[별로 안 신나더라],[[]]
4,ESRW1907001928.125,modu-21/EXNE2105170039,"[애드 아스트라, 재밌어]","[[{'begin': 0, 'end': 7, 'label': 'AF', 'detai..."

In [25]:
data_df.to_parquet(os.path.join(result_dir, 'modu-21-dialogue.parquet'))

# modu-2022

## news

In [26]:
def process_entity(e):
    label = e['label'][:2]
    
    return {
        'begin': e['begin'],
        'end': e['end'],
        'label': label,
        'detail': e['label']
    }
    
    
fname = "2022/NLNE2202211219.json"
data = {
    'id': [], # documentId
    'source': [], # source (for tracking)
    'text': [], # sentences List[str]
    'entities': []
}

with open(os.path.join(source_dir, fname), 'r', encoding='utf-8-sig') as f:
    sample = json.load(f)
    
file_id = sample['id']
for doc in sample['document']:
    document_id = doc['id']
    sentences = [x['form'] for x in doc['sentence']]
    entities = [
        [process_entity(e) for e in x['NE']]
        for x in doc['sentence']
    ]
    
    data['id'].append(document_id)
    data['source'].append(f'modu-22/{file_id}')
    data['text'].append(sentences)
    data['entities'].append(entities)

data_df = pd.DataFrame.from_dict(data)

In [27]:
data_df.head()

,id,source,text,entities
0,NLRW2100000013.1,modu-22/NLNE2202211219,"[태안군의회, 2019년‘군민중심’의정성과 빛났다!, 태안군의회 김기두 의장이 지난...","[[{'begin': 0, 'end': 5, 'label': 'OG', 'detai..."
1,NLRW2100000013.2,modu-22/NLNE2202211219,"[문정우 금산군수 신년사, 문정우 금산군수가 경자년(庚子年) 새해를 맞아 새해설계 ...","[[{'begin': 0, 'end': 3, 'label': 'PS', 'detai..."
2,NLRW2100000013.3,modu-22/NLNE2202211219,"[인천시, 소규모 공동주택 안전점검 보수 사업 추진, 인천시(시장 박남춘)는 노후 ...","[[{'begin': 0, 'end': 3, 'label': 'OG', 'detai..."
3,NLRW2100000013.4,modu-22/NLNE2202211219,"[""당진항 매립지 관할권 회복"" 충남도민 1인 시위 후끈, 충남도민들의 당진·평택항...","[[{'begin': 1, 'end': 8, 'label': 'LC', 'detai..."
4,NLRW2100000013.5,modu-22/NLNE2202211219,"[사이버대 서울디지털대학교 아동학과 ""영유아와 청소년의 스마트폰 사용, 부모의 역할...","[[{'begin': 5, 'end': 13, 'label': 'OG', 'deta..."

In [28]:
data_df.to_parquet(os.path.join(result_dir, 'modu-22-news.parquet'))

### dialogue

In [32]:
def process_entity(e):
    label = e['label'][:2]
    
    return {
        'begin': e['begin'],
        'end': e['end'],
        'label': label,
        'detail': e['label']
    }
    
    
fname = "2022/SDNE2202211219.json"
data = {
    'id': [], # documentId
    'source': [], # source (for tracking)
    'text': [], # sentences List[str]
    'entities': []
}

with open(os.path.join(source_dir, fname), 'r', encoding='utf-8-sig') as f:
    sample = json.load(f)
    
file_id = sample['id']
for doc in sample['document']:
    document_id = doc['id']
    sentences = []
    entities = []
    for sentence in doc['sentence']:
        text = sentence['form']
        if not text.strip():
            continue
        sentences.append(text)
        
        entities.append(
            [process_entity(e) for e in sentence['NE']]
        )

    if not sentences:
        continue
        
    
    data['id'].append(document_id)
    data['source'].append(f'modu-22/{file_id}')
    data['text'].append(sentences)
    data['entities'].append(entities)

data_df = pd.DataFrame.from_dict(data)

In [33]:
data_df.head()

,id,source,text,entities
0,SDRW2000000006.1,modu-22/SDNE2202211219,"[가장 좋아하는 음식이 무엇인가요?, 저는, 주로 먹는 거를 좋아해서, 음식을 가리...","[[], [], [], [], [], [{'begin': 4, 'end': 7, '..."
1,SDRW2000000007.1,modu-22/SDNE2202211219,"[어디 놀러 가고 싶은 데 있어?, 어~ 부산에 그~, 부산이랑 그~, 남산 타워,...","[[], [{'begin': 3, 'end': 5, 'label': 'LC', 'd..."
2,SDRW2000000010.1,modu-22/SDNE2202211219,"[네. 오늘, 여기 오는 길에 보니까 날씨가 정말 많이 더워졌더라고요., 그래서 이...","[[{'begin': 3, 'end': 5, 'label': 'DT', 'detai..."
3,SDRW2000000011.1,modu-22/SDNE2202211219,"[지금까지, 여행을, 다니시면서, 꼭 해외가 아니더라도, 어~ 여기는 진짜, 나중에...","[[], [], [], [], [], [], [], [], [], [], [], [..."
4,SDRW2000000016.1,modu-22/SDNE2202211219,"[너는, 반려동물, 키워 본 적 있어?, 저, 초등학생 때, 거북이 키웠고요., 쥐...","[[], [], [], [], [], [{'begin': 0, 'end': 3, '..."

In [34]:
data_df.to_parquet(os.path.join(result_dir, 'modu-22-dialogue.parquet'))

### online-dialogue

In [38]:
def process_entity(e):
    label = e['label'][:2]
    
    return {
        'begin': e['begin'],
        'end': e['end'],
        'label': label,
        'detail': e['label']
    }
    
    
fname = "2022/MDNE2202211219.json"
data = {
    'id': [], # documentId
    'source': [], # source (for tracking)
    'text': [], # sentences List[str]
    'entities': []
}

with open(os.path.join(source_dir, fname), 'r', encoding='utf-8-sig') as f:
    sample = json.load(f)
    
file_id = sample['id']
for doc in sample['document']:
    document_id = doc['id']
    sentences = []
    entities = []
    for sentence in doc['sentence']:
        text = sentence['form']
        if not text.strip():
            continue
        sentences.append(text)
        
        entities.append(
            [process_entity(e) for e in sentence['NE']]
        )

    if not sentences:
        continue
        
    
    data['id'].append(document_id)
    data['source'].append(f'modu-22/{file_id}')
    data['text'].append(sentences)
    data['entities'].append(entities)

data_df = pd.DataFrame.from_dict(data)

In [39]:
data_df.head()

,id,source,text,entities
0,MDRW2100000318.1,modu-22/MDNE2202211219,"[치킨시켜먹이까?, 시켜먹던지 난 간단히 먹었어, name3이 먹고싶다니까, 깊콘있...","[[{'begin': 0, 'end': 2, 'label': 'CV', 'detai..."
1,MDRW2100000322.1,modu-22/MDNE2202211219,"[오늘은 땅콩 처리해야해, 지난 설에 집에서 받아온건데, 아직도 안먹었어, ㅋㅋㅋㅋ...","[[{'begin': 0, 'end': 2, 'label': 'DT', 'detai..."
2,MDRW2100000323.1,modu-22/MDNE2202211219,"[요새도 재택근무해?, 재택으로, 아니 요즘은 안해, 확진자는 더 나오는데, 재택은...","[[], [], [], [], [], [], [], [], [], [{'begin'..."
3,MDRW2100000334.1,modu-22/MDNE2202211219,"[나 캡슐머신샀어 ㅋㅋㅋㅋㅋㅋ, 좀 편하지, 아침마다 한잔씩 내려가는데 너무 편해,...","[[{'begin': 2, 'end': 6, 'label': 'TM', 'detai..."
4,MDRW2100000335.1,modu-22/MDNE2202211219,"[굳, 난 이제, 뭐고 애도 안낳을거면서, 난 씻으러간다, 난 출근하고 똥쌌다, 나...","[[], [], [{'begin': 3, 'end': 4, 'label': 'CV'..."

In [40]:
data_df.to_parquet(os.path.join(result_dir, 'modu-22-online_dialogue.parquet'))

# Final Count

In [42]:
fnames = [
    'modu-19-dialogue',
    'modu-19-news',
    'modu-20-web',
    'modu-21-dialogue',
    'modu-21-news',
    'modu-22-news',
    'modu-22-dialogue',
    'modu-22-online_dialogue',
]

for fname in fnames:
    df = pd.read_parquet(os.path.join(result_dir, f"{fname}.parquet"))
    print(f"{fname}: {df.shape[0]}")

modu-19-dialogue: 423
modu-19-news: 7265
modu-20-web: 620004
modu-21-dialogue: 620002
modu-21-news: 1678
modu-22-news: 12162
modu-22-dialogue: 739
modu-22-online_dialogue: 10242